<!DOCTYPE html>
<html>
  <head>
    <title>JcSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="http://blackrockdigital.github.io/startbootstrap-agency/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://blackrockdigital.github.io/startbootstrap-agency/css/agency.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://blackrockdigital.github.io/startbootstrap-agency/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= yield%>
    <%= javascript_include_tag 'agency.js' %>
    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'classie.js' %>
    <%= javascript_include_tag 'cbpAnimatedHeader.js' %>
    <%= javascript_include_tag 'jqBootstrapValidation.js' %>
    <%= javascript_include_tag 'contact_me.js' %>

  </body>
</html>
